/********************************** TAGS **************************************/
body {
  margin: 0;
  padding: 0 150px;
  }

/********************************* CLASS **************************************/
.container {
  height: 320px;
}


.top-container {
  background-color: #f3f7f4;
  text-align: center;
}

.profile-container {
  position: relative;
  top: 30px;
}

.skills {
  margin: auto;
}

.left {
  text-align: left;
  display: inline-block;
  width: 50%;
  line-height: 2;
  margin-top: 0;
}

.middle-container {
  text-align: center;
  background-color: white;
}

.bottom-container {
  position: relative;
  background-color: #f3f7f4;
  height: 60px;
}

.trademark {
  display: inline;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top:20px;
  right: 10px;

}

.row-contact{
  position: absolute;
  right: 280px;
  top: 20px;
}
.contact-container{
  background-color:  #f3f7f4;
}

.footer-link {
  display: inline-block;
}

.contact-me {
  margin-bottom: 5px;
}

.footer-img {
  width: 20px;
  margin: 0 3px;
}



.row-pulpo {
  display: inline;
  float: left;
}

#logo-pulpo {
  width: 100px;
  position: absolute;
  margin: 3px 0 auto 2px;
}

/*************************pulpo************************************************/
p, table, ul, form, a {
  font-family: 'IBM Plex Mono', monospace;
}

p{
  font-size: 1rem;
}

td {
  text-align: left;
  font-size: 1rem;
}

table {
  margin: 0 auto;
}

.profile-subtitle {
  margin-top: 0;
  font-weight: bolder;
}

h1, h3, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  color: #2B347C;
  font-size: 2.8rem;
}

.h1title {
  margin-bottom: 5px;
}

h3 {
  color: #577590;

}

h2 {
  color: #277DA1;
  padding: 15px 0 5px 0;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  background-color: gray;
  margin:0;
}
